USE [master]
GO
/****** Object:  Database [Vosmerka]    Script Date: 14.04.2025 9:51:21 ******/
CREATE DATABASE [Vosmerka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vosmerka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Vosmerka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vosmerka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Vosmerka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vosmerka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vosmerka]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[AgentTypeID] [int] NOT NULL,
	[Address] [nvarchar](300) NULL,
	[INN] [varchar](12) NOT NULL,
	[KPP] [varchar](9) NULL,
	[DirectorName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Logo] [nvarchar](100) NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_Agent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AgentPriorityHistory]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentPriorityHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AgentID] [int] NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[PriorityValue] [int] NOT NULL,
 CONSTRAINT [PK_AgentPriorityHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentType]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](100) NULL,
 CONSTRAINT [PK_AgentType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CountInPack] [int] NOT NULL,
	[Unit] [nvarchar](10) NULL,
	[CountInStock] [float] NOT NULL,
	[MinCount] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[Image] [nvarchar](100) NULL,
	[MaterialTypeID] [int] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialCountHistory]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialCountHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[CountValue] [float] NOT NULL,
 CONSTRAINT [PK_MaterialCountHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialSupplier]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialSupplier](
	[MaterialID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
 CONSTRAINT [PK_MaterialSupplier] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC,
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[DefectedPercent] [float] NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ProductTypeID] [int] NULL,
	[ArticleNumber] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](100) NULL,
	[ProductionPersonCount] [int] NULL,
	[ProductionWorkshopNumber] [int] NULL,
	[MinCostForAgent] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCostHistory]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCostHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[CostValue] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ProductCostHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterial]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[ProductID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
	[Count] [float] NULL,
 CONSTRAINT [PK_ProductMaterial] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSale]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSale](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AgentID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[SaleDate] [date] NOT NULL,
	[ProductCount] [int] NOT NULL,
 CONSTRAINT [PK_ProductSale] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[DefectedPercent] [float] NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[AgentID] [int] NOT NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 14.04.2025 9:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[INN] [varchar](12) NOT NULL,
	[StartDate] [date] NOT NULL,
	[QualityRating] [int] NULL,
	[SupplierType] [nvarchar](20) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_AgentType] FOREIGN KEY([AgentTypeID])
REFERENCES [dbo].[AgentType] ([ID])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_AgentType]
GO
ALTER TABLE [dbo].[AgentPriorityHistory]  WITH CHECK ADD  CONSTRAINT [FK_AgentPriorityHistory_Agent] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([ID])
GO
ALTER TABLE [dbo].[AgentPriorityHistory] CHECK CONSTRAINT [FK_AgentPriorityHistory_Agent]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialType] ([ID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[MaterialCountHistory]  WITH CHECK ADD  CONSTRAINT [FK_MaterialCountHistory_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[MaterialCountHistory] CHECK CONSTRAINT [FK_MaterialCountHistory_Material]
GO
ALTER TABLE [dbo].[MaterialSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MaterialSupplier_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[MaterialSupplier] CHECK CONSTRAINT [FK_MaterialSupplier_Material]
GO
ALTER TABLE [dbo].[MaterialSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MaterialSupplier_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[MaterialSupplier] CHECK CONSTRAINT [FK_MaterialSupplier_Supplier]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductType] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[ProductCostHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCostHistory_Product1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductCostHistory] CHECK CONSTRAINT [FK_ProductCostHistory_Product1]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Material]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Product]
GO
ALTER TABLE [dbo].[ProductSale]  WITH CHECK ADD  CONSTRAINT [FK_ProductSale_Agent] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([ID])
GO
ALTER TABLE [dbo].[ProductSale] CHECK CONSTRAINT [FK_ProductSale_Agent]
GO
ALTER TABLE [dbo].[ProductSale]  WITH CHECK ADD  CONSTRAINT [FK_ProductSale_Product1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductSale] CHECK CONSTRAINT [FK_ProductSale_Product1]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Agent] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([ID])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_Agent]
GO
/****** Object:  Statistic [PK_Agent]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[Agent]([PK_Agent]) WITH STATS_STREAM = 0x01000000010000000000000000000000E58981260000000040000000000000000000000000000000380300003800000004000A00000000000000000000000800, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_AgentPriorityHistory]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[AgentPriorityHistory]([PK_AgentPriorityHistory]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_AgentType]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[AgentType]([PK_AgentType]) WITH STATS_STREAM = 0x01000000010000000000000000000000E58981260000000040000000000000000000000000000000380300003800000004000A00000000000000000000000800, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_0000000A_797309D9]    Script Date: 14.04.2025 9:51:21 ******/
CREATE STATISTICS [_WA_Sys_0000000A_797309D9] ON [dbo].[Material]([MaterialTypeID]) WITH STATS_STREAM = 0x01000000010000000000000000000000966CC4E000000000B4010000000000007401000000000000380200003800000004000A0000000000000000008D02000007000000C1ADFC00BEB2000032000000000000003200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000484200004842000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100400000000000000000000000000000800000000000000100000000000000032000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Material]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[Material]([PK_Material]) WITH STATS_STREAM = 0x01000000010000000000000000000000CAF985D900000000E204000000000000A204000000000000380300003800000004000A0000000000000000000000F0BF07000000C0ADFC00BEB20000320000000000000032000000000000000000803F0AD7A33C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001A0000001A00000001000000140000000000804000004842000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000026030000000000002E030000000000003603000000000000D000000000000000E700000000000000FE0000000000000015010000000000002C0100000000000043010000000000005A01000000000000710100000000000088010000000000009F01000000000000B601000000000000CD01000000000000E401000000000000FB0100000000000012020000000000002902000000000000400200000000000057020000000000006E0200000000000085020000000000009C02000000000000B302000000000000CA02000000000000E102000000000000F8020000000000000F03000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F11000000040000100014000000803F0000803F0000803F13000000040000100014000000803F0000803F0000803F15000000040000100014000000803F0000803F0000803F17000000040000100014000000803F0000803F0000803F19000000040000100014000000803F0000803F0000803F1B000000040000100014000000803F0000803F0000803F1D000000040000100014000000803F0000803F0000803F1F000000040000100014000000803F0000803F0000803F21000000040000100014000000803F0000803F0000803F23000000040000100014000000803F0000803F0000803F25000000040000100014000000803F0000803F0000803F27000000040000100014000000803F0000803F0000803F29000000040000100014000000803F0000803F0000803F2B000000040000100014000000803F0000803F0000803F2D000000040000100014000000803F0000803F0000803F2F000000040000100014000000803F0000803F0000803F31000000040000100014000000803F000000000000803F3200000004000032000000000000000000000000000000, ROWCOUNT = 50, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_MaterialCountHistory]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[MaterialCountHistory]([PK_MaterialCountHistory]) WITH STATS_STREAM = 0x010000000100000000000000000000003C0F0885000000004000000000000000000000000000000038038D823800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_MaterialSupplier]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[MaterialSupplier]([PK_MaterialSupplier]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4EA81170000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_2E1BDC42]    Script Date: 14.04.2025 9:51:21 ******/
CREATE STATISTICS [_WA_Sys_00000002_2E1BDC42] ON [dbo].[MaterialType]([Title]) WITH STATS_STREAM = 0x01000000010000000000000000000000286E0C0D000000002702000000000000E701000000000000E7030000E7000000640000000000000015D00000803F0000070000005B0A6301BDB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000270000000000000063000000000000006B0000000000000073000000000000000800000000000000300010000000803F000000000000803F04000001001F00480438043F044B04FF010000000000000001000000010000002800000028000000000000000000000004000000480438043F044B0402000000400000000001040000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_2E1BDC42]    Script Date: 14.04.2025 9:51:21 ******/
CREATE STATISTICS [_WA_Sys_00000003_2E1BDC42] ON [dbo].[MaterialType]([DefectedPercent]) WITH STATS_STREAM = 0x01000000010000000000000000000000AFF77FCA00000000DF010000000000009F010000000000003E038D823E00000008003500000000000000000000000000070000005A0A6301BDB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000023000000000000002B0000000000000033000000000000000800000000000000100018000000803F000000000000803F000000000000000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_MaterialType]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[MaterialType]([PK_MaterialType]) WITH STATS_STREAM = 0x01000000010000000000000000000000C7A6E35F00000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000000000007000000A4B86401BDB2000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Product]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[Product]([PK_Product]) WITH STATS_STREAM = 0x01000000010000000000000000000000B5C62C9200000000E907000000000000A90700000000000038038D823800000004000A0000000000000000008D02000007000000606CFE00BEB20000640000000000000064000000000000000000803F0AD7233C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000033000000330000000100000014000000000080400000C84200000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000002D0600000000000035060000000000003D060000000000009801000000000000AF01000000000000C601000000000000DD01000000000000F4010000000000000B0200000000000022020000000000003902000000000000500200000000000067020000000000007E020000000000009502000000000000AC02000000000000C302000000000000DA02000000000000F10200000000000008030000000000001F0300000000000036030000000000004D0300000000000064030000000000007B030000000000009203000000000000A903000000000000C003000000000000D703000000000000EE0300000000000005040000000000001C0400000000000033040000000000004A04000000000000610400000000000078040000000000008F04000000000000A604000000000000BD04000000000000D404000000000000EB0400000000000002050000000000001905000000000000300500000000000047050000000000005E0500000000000075050000000000008C05000000000000A305000000000000BA05000000000000D105000000000000E805000000000000FF050000000000001606000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F11000000040000100014000000803F0000803F0000803F13000000040000100014000000803F0000803F0000803F15000000040000100014000000803F0000803F0000803F17000000040000100014000000803F0000803F0000803F19000000040000100014000000803F0000803F0000803F1B000000040000100014000000803F0000803F0000803F1D000000040000100014000000803F0000803F0000803F1F000000040000100014000000803F0000803F0000803F21000000040000100014000000803F0000803F0000803F23000000040000100014000000803F0000803F0000803F25000000040000100014000000803F0000803F0000803F27000000040000100014000000803F0000803F0000803F29000000040000100014000000803F0000803F0000803F2B000000040000100014000000803F0000803F0000803F2D000000040000100014000000803F0000803F0000803F2F000000040000100014000000803F0000803F0000803F31000000040000100014000000803F0000803F0000803F33000000040000100014000000803F0000803F0000803F35000000040000100014000000803F0000803F0000803F37000000040000100014000000803F0000803F0000803F39000000040000100014000000803F0000803F0000803F3B000000040000100014000000803F0000803F0000803F3D000000040000100014000000803F0000803F0000803F3F000000040000100014000000803F0000803F0000803F41000000040000100014000000803F0000803F0000803F43000000040000100014000000803F0000803F0000803F45000000040000100014000000803F0000803F0000803F47000000040000100014000000803F0000803F0000803F49000000040000100014000000803F0000803F0000803F4B000000040000100014000000803F0000803F0000803F4D000000040000100014000000803F0000803F0000803F4F000000040000100014000000803F0000803F0000803F51000000040000100014000000803F0000803F0000803F53000000040000100014000000803F0000803F0000803F55000000040000100014000000803F0000803F0000803F57000000040000100014000000803F0000803F0000803F59000000040000100014000000803F0000803F0000803F5B000000040000100014000000803F0000803F0000803F5D000000040000100014000000803F0000803F0000803F5F000000040000100014000000803F0000803F0000803F61000000040000100014000000803F0000803F0000803F63000000040000100014000000803F000000000000803F6400000004000064000000000000000000000000000000, ROWCOUNT = 100, PAGECOUNT = 2
GO
/****** Object:  Statistic [PK_ProductCostHistory]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[ProductCostHistory]([PK_ProductCostHistory]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_33D4B598]    Script Date: 14.04.2025 9:51:21 ******/
CREATE STATISTICS [_WA_Sys_00000002_33D4B598] ON [dbo].[ProductMaterial]([MaterialID]) WITH STATS_STREAM = 0x01000000010000000000000000000000BFC621930000000056060000000000001606000000000000380304003800000004000A0000000000000000003F5F000007000000606CFE00BEB2000064000000000000006400000000000000E4380E3FFA82BE3C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000026000000260000000100000014000000000080400000C84200000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000009A04000000000000A204000000000000AA04000000000000300100000000000047010000000000005E0100000000000075010000000000008C01000000000000A301000000000000BA01000000000000D101000000000000E801000000000000FF0100000000000016020000000000002D0200000000000044020000000000005B0200000000000072020000000000008902000000000000A002000000000000B702000000000000CE02000000000000E502000000000000FC0200000000000013030000000000002A03000000000000410300000000000058030000000000006F0300000000000086030000000000009D03000000000000B403000000000000CB03000000000000E203000000000000F903000000000000100400000000000027040000000000003E0400000000000055040000000000006C0400000000000083040000000000001000140000004040000000000000803F010000000400001000140000000040000000000000803F02000000040000100014000000803F000000000000803F030000000400001000140000000040000000000000803F05000000040000100014000000A040000000000000803F060000000400001000140000008040000000000000803F070000000400001000140000000040000000400000004009000000040000100014000000803F000000000000803F0A0000000400001000140000004040000000000000803F0B0000000400001000140000008040000000000000803F0C000000040000100014000000803F000000000000803F0D0000000400001000140000008040000000000000803F0E0000000400001000140000004040000000000000803F0F000000040000100014000000803F000000000000803F110000000400001000140000000040000000000000803F120000000400001000140000008040000000000000803F130000000400001000140000000040000000400000004015000000040000100014000000803F000000000000803F160000000400001000140000000040000000000000803F17000000040000100014000000803F000000000000803F180000000400001000140000000040000000000000803F190000000400001000140000008040000000000000803F1A0000000400001000140000004040000000000000803F1D0000000400001000140000008040000000000000803F1E0000000400001000140000004040000000000000803F1F000000040000100014000000803F000000000000803F200000000400001000140000000040000000400000004022000000040000100014000000803F000000000000803F230000000400001000140000004040000000000000803F25000000040000100014000000803F000000000000803F260000000400001000140000004040000000000000803F2700000004000010001400000000400000004000000040290000000400001000140000000040000000000000803F2A000000040000100014000000803F0000803F0000803F2C0000000400001000140000000040000000000000803F2D000000040000100014000000A040000000000000803F2F0000000400001000140000004040000000000000803F31000000040000100014000000803F000000000000803F3200000004000064000000000000000000000000000000
GO
/****** Object:  Statistic [PK_ProductMaterial]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[ProductMaterial]([PK_ProductMaterial]) WITH STATS_STREAM = 0x01000000020000000000000000000000570DA7EF00000000CB060000000000007306000000000000380305003800000004000A0000000000000000003F000080380300003800000004000A0000000000000000000000803F070000005F6CFE00BEB2000064000000000000006400000000000000ABAAAA3E310CC33C0AD7233C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000029000000290000000200000014000000000000410000C8420000000000008040000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000F704000000000000FF04000000000000070500000000000048010000000000005F0100000000000076010000000000008D01000000000000A401000000000000BB01000000000000D201000000000000E901000000000000000200000000000017020000000000002E0200000000000045020000000000005C0200000000000073020000000000008A02000000000000A102000000000000B802000000000000CF02000000000000E602000000000000FD0200000000000014030000000000002B0300000000000042030000000000005903000000000000700300000000000087030000000000009E03000000000000B503000000000000CC03000000000000E303000000000000FA03000000000000110400000000000028040000000000003F0400000000000056040000000000006D0400000000000084040000000000009B04000000000000B204000000000000C904000000000000E0040000000000001000140000004040000000000000803F010000000400001000140000000040000000000000803F03000000040000100014000000803F000000000000803F050000000400001000140000008040000000000000803F060000000400001000140000004040000000000000803F07000000040000100014000000803F000000000000803F080000000400001000140000004040000000000000803F09000000040000100014000000803F000000000000803F0B0000000400001000140000000040000000000000803F0E0000000400001000140000004040000000000000803F0F000000040000100014000000803F000000000000803F150000000400001000140000000040000000000000803F190000000400001000140000004040000000000000803F1B000000040000100014000000803F000000000000803F1C000000040000100014000000E040000000000000803F1E000000040000100014000000803F000000000000803F1F0000000400001000140000000040000000000000803F22000000040000100014000000803F000000000000803F230000000400001000140000008040000000000000803F260000000400001000140000008040000000000000803F2A0000000400001000140000004040000000000000803F2B0000000400001000140000004040000000000000803F2F000000040000100014000000803F000000000000803F340000000400001000140000004040000000000000803F3900000004000010001400000040400000404000004040410000000400001000140000000040000000000000803F44000000040000100014000000803F000000000000803F450000000400001000140000000040000000000000803F47000000040000100014000000803F000000000000803F48000000040000100014000000803F000000000000803F4B000000040000100014000000803F000000000000803F4C000000040000100014000000803F000000000000803F510000000400001000140000004040000000000000803F520000000400001000140000008040000000000000803F53000000040000100014000000803F000000000000803F550000000400001000140000008040000000000000803F570000000400001000140000008040000000000000803F5B0000000400001000140000000040000000000000803F5C0000000400001000140000008040000000000000803F5E0000000400001000140000000040000000000000803F620000000400001000140000000040000000000000803F6300000004000064000000000000000000000000000000, ROWCOUNT = 100, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_ProductSale]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[ProductSale]([PK_ProductSale]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_37A5467C]    Script Date: 14.04.2025 9:51:21 ******/
CREATE STATISTICS [_WA_Sys_00000002_37A5467C] ON [dbo].[ProductType]([Title]) WITH STATS_STREAM = 0x01000000010000000000000000000000C5B4AC75000000001F02000000000000DF01000000000000E7030000E7000000640000000000000015D00000FA030000070000003DF7FD00BEB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080400000803F000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000023000000000000005B0000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001B0031003800FF0100000000000000010000000100000028000000280000000000000000000000020000003100380002000000400000000001020000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_37A5467C]    Script Date: 14.04.2025 9:51:21 ******/
CREATE STATISTICS [_WA_Sys_00000003_37A5467C] ON [dbo].[ProductType]([DefectedPercent]) WITH STATS_STREAM = 0x010000000100000000000000000000009F5F544C00000000DF010000000000009F010000000000003E0300003E00000008003500000000000000000000770073070000003DF7FD00BEB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000023000000000000002B0000000000000033000000000000000800000000000000100018000000803F000000000000803F000000000000304004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_ProductType]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[ProductType]([PK_ProductType]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 100, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Shop]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[Shop]([PK_Shop]) WITH STATS_STREAM = 0x01000000010000000000000000000000A06F309A0000000040000000000000000000000000000000380324F93800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Supplier]    Script Date: 14.04.2025 9:51:21 ******/
UPDATE STATISTICS [dbo].[Supplier]([PK_Supplier]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
USE [master]
GO
